###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
!/var/.gitignore
/vendor/
/node_modules/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

# Fichiers temporaires ou spécifiques à l'IDE
.idea/
.vscode/
.DS_Store
*.swp

# Fichiers de test
/coverage/

# Fichiers binaires
/bin/

# Fichiers d'uploads
/public/uploads/
